In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Banking_Fraud_Dataset.csv")

In [ ]:
# unique_customers = df[['Customer_ID', 'Account_Age']].drop_duplicates()

# unique_customers['age_at_opening'] = np.random.uniform(18, 50, size=len(unique_customers))

# unique_customers['Age'] = unique_customers['age_at_opening'] + unique_customers['Account_Age']

# age_dict = unique_customers.set_index('Customer_ID')['Age'].to_dict()

# df['Age'] = df['Customer_ID'].map(age_dict)

In [4]:
df[df["Age"] > 60]

,Transaction_ID,Customer_ID,Transaction_Amount,Transaction_Type,Transaction_Location,Transaction_Time,Device_Used,Account_Age,Credit_Score,Previous_Fraud,Is_Fraud,Age
20,T21,C7382,9066.63,Transfer,"Collinshaven, France",2025-02-11 01:17:07,Web,6,348,1,0,64.411029
30,T31,C9088,2368.67,Online Payment,"Harrisonberg, Cayman Islands",2025-02-04 13:30:14,POS Terminal,18,719,0,0,65.229508
60,T61,C1995,732.48,Withdrawal,"New Kelsey, Bouvet Island (Bouvetoya)",2025-01-07 15:29:48,POS Terminal,19,376,1,1,63.478891
69,T70,C9418,8196.68,Deposit,"Jackside, Cape Verde",2025-01-17 18:48:20,POS Terminal,12,484,1,1,64.563259
80,T81,C7476,2424.47,Withdrawal,"Wadeburgh, Spain",2025-02-10 10:36:21,Mobile,14,715,1,0,69.557180
...,...,...,...,...,...,...,...,...,...,...,...,...
9949,T9950,C7582,9541.53,Online Payment,"Bushmouth, Liechtenstein",2025-02-10 18:46:42,Mobile,15,733,1,0,60.003110
9959,T9960,C1507,7435.09,Deposit,"Alejandramouth, Yemen",2025-02-09 06:58:52,ATM,20,373,0,0,67.692638
9963,T9964,C4002,4511.30,Deposit,"Anneland, Gibraltar",2025-01-04 16:44:20,Web,15,576,0,0,62.603225
9971,T9972,C6133,811.31,Withdrawal,"Andrewhaven, Algeria",2025-01-11 21:32:18,ATM,16,457,0,0,62.273930
9972,T9973,C9043,6636.47,Withdrawal,"West Danielleport, Slovenia",2025-02-14 16:09:04,Mobile,11,560,0,0,60.675790

In [5]:
df.to_csv("Banking_Fraud_Dataset.csv", index=False)

In [4]:
columns_to_drop = ['Transaction_ID', 'Device_Used', 'Account_Age', 'Credit_Score']

# Drop the specified columns
df = df.drop(columns=columns_to_drop)

In [5]:
output_file = 'modified_file.csv'
df.to_csv(output_file, index=False)

In [6]:
import pandas as pd

# Load the dataset
df = pd.read_csv("modified_file.csv")

# Create Nodes CSV (Customers & Locations)
customers = df[["Customer_ID"]].drop_duplicates()
locations = df[["Transaction_Location"]].drop_duplicates()

# Add Node Type
customers["Node_Type"] = "Customer"
locations["Node_Type"] = "Location"

# Combine both into a single nodes DataFrame
nodes = pd.concat([
    customers.rename(columns={"Customer_ID": "Node"}), 
    locations.rename(columns={"Transaction_Location": "Node"})
])

# Save Nodes CSV
nodes.to_csv("nodes.csv", index=False)

# Create Edges CSV (Transactions between Customers & Locations)
edges = df[["Customer_ID", "Transaction_Location", "Transaction_Type"]]
edges = edges.rename(columns={"Customer_ID": "Source", "Transaction_Location": "Target", "Transaction_Type": "Relationship"})

# Save Edges CSV
edges.to_csv("edges.csv", index=False)

# Create Edge Features CSV (Transaction attributes)
edge_features = df[["Customer_ID", "Transaction_Location", "Transaction_Amount", "Previous_Fraud", "Is_Fraud", "Age"]]
edge_features = edge_features.rename(columns={"Customer_ID": "Source", "Transaction_Location": "Target"})

# Save Edge Features CSV
edge_features.to_csv("edge_features.csv", index=False)

print("âœ… Knowledge graph CSVs created: nodes.csv, edges.csv, edge_features.csv")

âœ… Knowledge graph CSVs created: nodes.csv, edges.csv, edge_features.csv